body {
    width: 100%;
    height: 100%;
    background-image: url(images/bg.png)
}

img {
    z-index: 1;
}

.Hauptcontainer {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%) 
}

.text {
    position: absolute;
    top: 60px;
    left: 40px; 
    color: white; 
}

.eins {
    position: absolute;
    top: 220px;
    left: 400px; 

}
:hover.eins {
    background-image: url(images/stern_hover.png)
}

.zwei {
    position: absolute;
    top: 190px;
    left: 100px; 
}
:hover.zwei {
    background-image: url(images/stern_hover.png)
}

.drei {

    position: absolute;
    top:  100px;
    left: 190px; 
}
:hover.drei {
    background-image: url(images/stern_hover.png)
}

.vier {
    position: absolute;
    top: 120px;
    left: 400px; 
}

:hover.vier {
    background-image: url(images/stern_hover.png)
}