body {
    width: 100%;
    height: 100%;
    background-image: url(images/bg.png)
}

img {
    z-index: 1;
}

.Hauptcontainer {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%) 
   
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 60px;
    left: 60px; 
    color: white; 
    font-size: 20px;

}


.text {
    position: absolute;
    top: 270px;
    left: 50px; 
    color: white; 
    display: grid;
    grid-template-columns: 150px 100px; 
    

    
    
}
.zweiteSpalte {
    position: absolute;
    top: 270px;
    left: 210px; 
    color: white; 
    display: grid;
    grid-template-columns: 150px 100px; 

}

p3 {
    position: absolute;
    top: 270px;
    left: 370px; 
    color: white; 
    display: grid;
    grid-template-columns: 150px 100px; 
}

p4{
    position: absolute;
    top: 130px;
    left: 100px;
    color: white; 
    display: grid;
    grid-template-columns: 150px 100px;
    

}
p5 {
    position: absolute;
    top: 130px;
    left: 300px;
    color: white; 
    display: grid;
    grid-template-columns: 150px 100px;

}

h1 {
  -webkit-column-span: all;
  column-span: all
}
.line {
    line-height: 45px; 
}