body { 
    background-image: url(images/bg.png);
    font-family: sans-serif;
    width: 800px;
    margin: auto;
    
}

section {
    width: 800px;
    margin: auto;
}


nav {
    position: fixed;
    top: 0px;
    right: 150px;
    width: 450px;
    height: 30px;
    padding: 5px;
    border-radius: 0px 0px 15px 15px;
    background-color: darkslategrey;
    color: white; 
    text-align: center;
    
}

a:hover {
    background: white;


}
div {
    position: relative;
    text-align: center;

}
.red {
    color: lightpink;
}
.beige {
    color: beige
}

.box1 {
    text-align: left
}
.box2 {
    text-align: left

}

input {
    width: 270px;
    height: 30px;
    font-size: 13px;
    padding-left: 20px;
    margin-bottom: 5px;
    background-color:lightgray;
    color: white;
    border: 1px solid white;
}


textarea {
    width: 400px;
    height: 50px;
    font-size: 13px;
    padding-left: 5px;
    padding-top: 5px;
    border: 1px solid white;
    background-color:lightgrey;
}

.color { 
    color: darkslategray; 

}
#LeftColor {
    color: grey;
    text-align: left;

}


.center {
    text-align: center
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%
}

.icon {
    width: 25px;
    background-color:none;
    margin: auto;
    position: relative;
    bottom: 59px; 
    left: 42px;


}
.icon:hover {
    background-color: lightgray; 
}

.instagram {
    background-color: darkslategray;
    color: lightpink;
    width: 80px; 
    padding: 5px 5px 5px 5px; 

}

p4 {
    text-decoration: underline; 
}
::placeholder {
    color: white; 
}
.Datenschutz {
    color: grey;
    background: transparent;
}
button {
    width: 80px;
    border-radius: 0px;
    color: white;
    background-color: lightgray;
    height: 30px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.left {
    text-align: left;
    
}
.Datenschutz:hover {
    background: transparent;

}
