

/*Allgemein*/ 

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position:center; 
}






/*Start*/

@media screen and (max-width:600px){


.Smartphone {
display: none; 
}


.Container {
    width: 70%; 
    padding: 10%; 
    margin-left: auto; 
    margin-right: auto;
    text-align: center;  
    color:steelblue; 
 
    
    
   
}
.LinkStart {

    padding: 15px; 
    width: 80px; 
    font-size: 20px; 
    text-decoration: none; 
    border-radius: 10%; 
    background-color: steelblue; 
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    transform: scale(1); 

}
.LinkStart:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none; 
    color: white; 
}
}




/*Fragen und Antworten*/
@media screen and (max-width:600px){

.Frage-Bild{
   width: 80%; 
   margin-left: auto; 
   margin-right: auto; 


}

.Frage {
position: absolute;
font-size: 10px;
width: 60%; 
top: 5%;
left: 20%;
text-align: center; 
color: white; 

}

.antwort {
    position: relative;
    width: 100%;
    height: 35px; 
    background: url(images/answer.png); 
    background-size: 100%;
    background-repeat: no-repeat; 
    margin-top: 1%;
    margin-bottom: 1%;
}

.antwort-text {

    position: absolute; 
    font-size: 15px; 
    width: 60%;
    top: 25%;
    left: 20%; 
    text-align: center; 

}

.antwort:hover {
    background: url(images/answer_over.png);
    background-size: 100%;
    background-repeat: no-repeat;

}
footer{
    position: relative;
    text-align: center;
    bottom: 0%; 
}
}
/* Start */

@media screen and (min-width: 600px) {

body {
    background-image: none; 
}   


.LinkStart {
    display: none; 
}

.willkommen {
    display: none; 
}

.smartphone {

    text-align: center; 
}

.Container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    background: none; 
    color: white; 
    background-color: darkgray; 
    padding: 50px; 
    text-align: center; 


}

.display {
    display: none; 
    }

.Hintergrund 
{
background-image: url(images/bg.jpg);
background-size: 100%;
background-repeat: no-repeat;
background-position: center;  
     
}

.LinkStart {

        color: white;
        padding: 15px; 
        width: 80px; 
        font-size: 20px; 
        text-decoration: none; 
        border-radius: 10%; 
        background-color: brown; 
        margin-left: auto; 
        margin-right: auto;
        text-align: center;
        bottom: 0%;

    }
    
a {
        text-decoration: none; 
        color: white; 
    }
.Frage-Bild{
        width: 50%; 
        margin-left: auto; 
        margin-right: auto;
     
     }
     
 .Frage {
     position: absolute;
     font-size: 20px;
     width: 60%; 
     top: 7%;
     left: 20%;
     text-align: center; 
     color: white; 
     
     }
     
.antwort {
    position: relative;
    width: 100%;
    height: 100px; 
    background: url(images/answer.png); 
    background-size: 100%;
        background-repeat: no-repeat; 
     margin-top: 1%;
    margin-bottom: 1%;

     }
     
.antwort-text {
     
    position: absolute; 
    font-size: 20px; 
    width: 60%;
    top: 30%;
    left: 20%; 
    text-align: center; 
     
     }
     
.antwort:hover {
    background: url(images/answer_over.png);
    background-size: 100%;
    background-repeat: no-repeat;
     
     }
footer{
    position: relative;
    text-align: center;
    bottom: 0%; 
     }
   }